.modal{
    z-index:9999;
}
.modal-content{
    width:500px;
    height:810px;
    background-color: #2C3137;
    color:white;
    /* margin-top:50px; */
    margin-left:auto;
    margin-right:auto;
}